SMICISite/Connected Services/wcfServicio/wcfExtService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuariosVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuariosVM" nillable="true" type="tns:UsuariosVM" />
</xs:schema>