SMICISite/Connected Services/wcfServicio/wcfExtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcfExtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52832/wcfExtService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52832/wcfExtService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52832/wcfExtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" />
      <xsd:import schemaLocation="http://localhost:52832/wcfExtService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/wcfMinIndustria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfExtService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IwcfExtService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfExtService_Listado_InputMessage">
    <wsdl:part name="parameters" element="tns:Listado" />
  </wsdl:message>
  <wsdl:message name="IwcfExtService_Listado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfExtService_RegistroReporteBache_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistroReporteBache" />
  </wsdl:message>
  <wsdl:message name="IwcfExtService_RegistroReporteBache_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistroReporteBacheResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcfExtService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfExtService/Login" message="tns:IwcfExtService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfExtService/LoginResponse" message="tns:IwcfExtService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listado">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfExtService/Listado" message="tns:IwcfExtService_Listado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfExtService/ListadoResponse" message="tns:IwcfExtService_Listado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistroReporteBache">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfExtService/RegistroReporteBache" message="tns:IwcfExtService_RegistroReporteBache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfExtService/RegistroReporteBacheResponse" message="tns:IwcfExtService_RegistroReporteBache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwcfExtService" type="tns:IwcfExtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IwcfExtService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listado">
      <soap:operation soapAction="http://tempuri.org/IwcfExtService/Listado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroReporteBache">
      <soap:operation soapAction="http://tempuri.org/IwcfExtService/RegistroReporteBache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfExtService">
    <wsdl:port name="BasicHttpBinding_IwcfExtService" binding="tns:BasicHttpBinding_IwcfExtService">
      <soap:address location="http://localhost:52832/wcfExtService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>