SitioAdmin/Connected Services/wcfServicio/wcfExtService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52832/wcfExtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" />
  <xs:import schemaLocation="http://localhost:52832/wcfExtService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/wcfMinIndustria" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="LoginResult" nillable="true" type="q1:UsuariosVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="ListadoResult" nillable="true" type="q2:ArrayOfBachesVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoDano">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoDanoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="ListadoDanoResult" nillable="true" type="q3:ArrayOfDanoVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoInforme">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="ListadoInformeResult" nillable="true" type="q4:ArrayOfInformeVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroReporteBache">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="objRegistroBaches" nillable="true" type="q5:BachesVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroReporteBacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wcfMinIndustria" minOccurs="0" name="RegistroReporteBacheResult" nillable="true" type="q6:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroReporteDano">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="objRegistroDano" nillable="true" type="q7:DanoVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroReporteDanoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wcfMinIndustria" minOccurs="0" name="RegistroReporteDanoResult" nillable="true" type="q8:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/wcfMinIndustria.Model" minOccurs="0" name="objRegistroInforme" nillable="true" type="q9:InformeVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/wcfMinIndustria" minOccurs="0" name="RegistroInformeResult" nillable="true" type="q10:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>